.animate{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    animation-name: changecolor;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
@keyframes changecolor{
    /* from{background-color: red;}
    to {background-color: yellow;} */
    0%{background-color: red;}
    25%{background-color: green;}
    50%{background-color: rgb(98, 0, 128);}
    75%{background-color: rgb(243, 239, 0);}
    100% {background-color: rgb(0, 255, 221);}
}
#animate1{
    animation-delay: 0ms;
}
#animate2{
    animation-delay: 200ms;
}
#animate3{
    animation-delay: 400ms;
}
#animate4{
    animation-delay: 600ms;
}
#animate5{
    animation-delay: 1000ms;
}
