.animate2{
    color: wheat;
    font-weight: 900;
    animation-name: textanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    width:auto;
    float: right;
    position: relative;
    left: 80vw;
}
@keyframes textanimation{
    0%{transform: translateX(0);}
    100%{position:relative;
        left:-97vw;}

}
#divanim{
    border: 2px solid blue; 
    overflow: hidden;
    background-color: rgb(255, 0, 0);
}