.last>button{

    text-decoration: none;
    border-radius: 5px;
    padding: 2px 4px;
    background-image: linear-gradient(rgb(216, 0, 119),rgb(209, 6, 6));
}
.last>button:hover{
    background-image: linear-gradient(rgb(44, 230, 255),rgb(61, 207, 4));
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px  8px rgb(133, 41, 41);
}
.last>button>a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
}